{% extends 'base.html' %}
{% block title %}Пароль изменён{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        <center>Успешно заменен пароль</center>
      </div>
      <div class="card-body">
        <p>
          <center>Вы заменили пароль! Всегда рады помочь!</center>
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %} 